@model GitTestProject.Models.employee
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<body>
    <div>
        <form method="post">
            <table>
                <tr><td>Username</td>
                <td>@Html.TextBoxFor(Model=>Model.Login)</td></tr>
                <tr><td>Password</td>
                <td>@Html.TextBoxFor(Model=>Model.Password)</td></tr>
            </table>
            <input type="submit" value="Login" />
        </form>
    </div>
    <div>
        @if (@ViewBag.Titl != null)
        {
        <div style="color:red">@ViewBag.Titl</div>
        }
    </div>
</body>
